@page "/BarcodeTypes"
<ContentMain>
    <Card>
        <Title>
            <CardTitle>Barkod Türleri</CardTitle>
            <div class="card-tools">
                <MudIconButton Icon="@Icons.Material.Filled.Add" Color="MudBlazor.Color.Success" @onclick="NewBarcodeType" Class="ml-auto" />
            </div>
        </Title>
        <Body>
            <DataGrid TItem="BarcodeType" Data="barcodeTypes"
                      Filterable="true" PageSize="10" ShowPager="true"
                      Hoverable="true"
                      Responsive="true"
                      Class="table table-striped table-bordered table-hover" RowClicked="@(e=>RowClick(e.Item))">
                <DataGridColumns>
                    <DataGridColumn TItem="BarcodeType" Field="@nameof(BarcodeType.BarcodeTypeCode)" Caption="Barkod Tür Kodu"></DataGridColumn>
                    <DataGridColumn TItem="BarcodeType" Field="@nameof(BarcodeType.BarcodeTypeName)" Caption="Barkod Tür Adı"></DataGridColumn>
                    <DataGridCheckColumn TItem="BarcodeType" Field="@nameof(BarcodeType.IsActive)" Caption="Aktif">
                        <DisplayTemplate>
                            <Blazorise.Check Checked="@context.IsActive" ReadOnly="true" Disabled="true"></Blazorise.Check>
                        </DisplayTemplate>
                    </DataGridCheckColumn>
                </DataGridColumns>
            </DataGrid>
        </Body>
    </Card>
</ContentMain>
<Blazorise.Modal @ref="modalRef">
    <Blazorise.ModalContent Centered="true">
        <Blazorise.ModalHeader>
            <Blazorise.ModalTitle>Barkod Türü</Blazorise.ModalTitle>
            <Blazorise.CloseButton />
        </Blazorise.ModalHeader>
        <EditForm Model="barcodeType" OnValidSubmit="Save">
            <Blazorise.ModalBody>
                <FluentValidationValidator @ref="_fluentValidationValidator" />
                <MudTextField @bind-Value="barcodeType.BarcodeTypeCode" Label="Barkod Tür Kodu" For="()=>barcodeType.BarcodeTypeCode"></MudTextField>
                <MudTextField @bind-Value="barcodeType.BarcodeTypeName" Label="Barkod Tür Adı" For="()=>barcodeType.BarcodeTypeName"></MudTextField>
                <MudItem sm="12" md="12" xs="12">
                    <MudSelect Margin="Margin.Dense" Label="Durum" T="bool" @bind-Value="barcodeType.IsActive">
                        <MudSelectItem T="bool" Value="true">Aktif</MudSelectItem>
                        <MudSelectItem T="bool" Value="false">Pasif</MudSelectItem>
                    </MudSelect>
                </MudItem>
            </Blazorise.ModalBody>
            <Blazorise.ModalFooter>
                <MudItem xs="12" md="12" lg="12" sm="12">
                    <MudIconButton Icon="@Icons.Material.Filled.Close" Color="MudBlazor.Color.Error" @onclick="@(()=>modalRef.Hide())" />
                    <MudIconButton Icon="@Icons.Material.Filled.Save" Color="MudBlazor.Color.Success" Class="float-right" ButtonType="MudBlazor.ButtonType.Submit" />
                    @if (barcodeType.BarcodeTypeId != 0)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="MudBlazor.Color.Warning" @onclick="Delete" Class="float-right" />
                    }
                </MudItem>
            </Blazorise.ModalFooter>
        </EditForm>
    </Blazorise.ModalContent>
</Blazorise.Modal>