@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> localizer

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider CloseButton="true" Position="DialogPosition.Center" FullWidth="true"   />
<MudSnackbarProvider />
<AuthorizeView>
    <NotAuthorized>
        <MudAppBar Elevation="4" Color="MudBlazor.Color.Primary">
            <MudAppBarSpacer />
            @*<LanguageSelector />*@
            <MudTooltip Text="@localizer["Toggle Dark Mode"]">
                <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="MudBlazor.Color.Inherit" OnClick="@((e) => DarkMode())" />
            </MudTooltip>
        </MudAppBar>
        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
            <MudPaper Elevation="25" Class="pa-8" Style="width: 500px;">
                <CascadingValue Value="hubConnection">
                    @Body
                </CascadingValue>
            </MudPaper>
        </MudContainer>
    </NotAuthorized>
    <Authorized>
        @(LoadDataAsync())
        <MudLayout RightToLeft="@_rightToLeft">
            <MudAppBar Elevation="25">
                <a href="/">
                    <img src="/images/logo.png" style="width: 50px; height: 50px;" />
                </a>
                @*<MudIcon Icon="@CustomIcons.BlazorHero" Size="MudBlazor.Size.Large" ViewBox="0 0 500 500" />*@
                <MudText Typo="Typo.h6" Class="ml-4">Alaca Yazılım</MudText>
                <MudToolBar DisableGutters="true">
                    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="MudBlazor.Color.Inherit" OnClick="@((e) => DrawerToggle())" Class="ml-3" />
                </MudToolBar>
                <MudAppBarSpacer />
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5" />
                    @*<LanguageSelector />*@
                    <MudTooltip Text="@localizer["Toggle right-to-left/left-to-right"]">
                        <MudIconButton Icon="@Icons.Material.Filled.FormatTextdirectionRToL" Color="MudBlazor.Color.Inherit" OnClick="@((e) => RightToLeftToggle())" />
                    </MudTooltip>
                    <MudTooltip Text="@localizer["Toggle Dark Mode"]">
                        <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="MudBlazor.Color.Inherit" OnClick="@((e) => DarkMode())" />
                    </MudTooltip>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                    @*<LanguageSelector />*@
                    <MudMenu Icon="@Icons.Filled.Settings" Color="MudBlazor.Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true">
                        <div class="px-2">
                            <MudTooltip Text="@localizer["Toggle Dark Mode"]">
                                <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="MudBlazor.Color.Inherit" OnClick="@((e) => DarkMode())" />
                            </MudTooltip>
                            <MudTooltip Text="@localizer["Fork Repository"]">
                                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="MudBlazor.Color.Inherit" Link="https://github.com/blazorhero/CleanArchitecture" Target="_blank" />
                            </MudTooltip>
                        </div>
                        <MudText Typo="Typo.body2" Class="px-4 py-2"><b>@localizer["Community"]</b></MudText>
                        <MudMenuItem Link="https://www.facebook.com/codewithmukesh" Target="_blank">@localizer["Facebook Page"]</MudMenuItem>
                        <MudMenuItem Link="https://www.linkedin.com/in/iammukeshm/" Target="_blank">LinkedIn</MudMenuItem>
                        <MudText Typo="Typo.body2" Class="px-4 py-2"><b>@localizer["Resources"]</b></MudText>
                        <MudMenuItem Link="https://mudblazor.com/getting-started/installation" Target="_blank">@localizer["MudBlazor Documentation"]</MudMenuItem>
                        <MudMenuItem Link="https://codewithmukesh.com/blog/blazor-hero-quick-start-guide/" Target="_blank">@localizer["Quick-Start Guide"]</MudMenuItem>
                    </MudMenu>
                </MudHidden>
                <MudMenu Direction="_rightToLeft ? Direction.Right : Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                    <ActivatorContent>
                        @if (string.IsNullOrEmpty(ImageDataUrl))
                        {
                            <MudAvatar Color="MudBlazor.Color.Secondary">@FirstLetterOfName</MudAvatar>
                        }
                        else
                        {
                            <MudAvatar Image="@ImageDataUrl" Style="height:50px; width:50px;"> </MudAvatar>
                        }
                    </ActivatorContent>
                    <ChildContent>
                        <UserCard Class="mt-n2" />
                        <MudDivider Class="mb-2" />
                        @*<MudListItem Text="@localizer["Account"]" Href="/account" Icon="@Icons.Material.Outlined.Person" />*@
                        <MudListItem Text="Oturumu Kapat" Icon="@Icons.Material.Filled.Logout" OnClick="Logout" />
                    </ChildContent>
                </MudMenu>
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
                    <CascadingValue Value="hubConnection">
                        @Body
                    </CascadingValue>
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
</AuthorizeView>